.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: rgb(255 255 255);
}

.board {
  display: flex;
  flex-wrap: wrap;
  height: 642px;
  width: 642px;
  background-color: rgb(0 255 50);
  border: 1px solid #000;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5%;
  width: 12.5%;
  border: 1px solid #000;
}

.stone {
  display: fl;
  height: 87.5%;
  width: 87.5%;
  background-color: #fff;
  border-radius: 50%;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.color-0{
  background-color: #0000;
}
.color-1{
  background-color: #000;
  width: 90%;
  height: 90%;
}

.color-2{
  background-color: #fff;
  width: 90%;
  height: 90%;
}

.color-3{
  background-color: #f80;
  width: 20%;
  height: 20%;
}